.lists{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-container{
  background: rgb(194, 190, 172);
  height: 400;
  width: 40%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.course_details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* rounded box */
  width: 500px;
  height: 500px;
  background: #e74747;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course_details h1 {
  text-align: center;
  position: relative;
  top: -40px;
  padding: 0 0 20px 0;
  color: white;
}

/* Percentages*/

  
  .textfield input {
    position: relative;
    top: 10px;
    width: 200px;
    margin: 10px 5px;
    height: 20px;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .center_block {
    margin: auto;
    margin-top: 2px;
  }
  
  .button input {
    position: relative;
    top: 80px;
    margin: 10px 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
  }

@media screen and (max-width: 1200px) {
    img {
        max-width: 100%;
    }
    .logo {
        height: 100px;
    }
    p {
        font-size: 30px;
    }
    li input:nth-child(even){
        width:30px;
    }

    li input:nth-child(odd){
        width:30px;
    }
}
