body {
  margin: 0;
  padding: 0;
  background-image: url("../img/schulich3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}
  
  /* Page Template */
  .header {
    height: 20px;
    width: 100%;
    background: linear-gradient(90deg, white, #ffcf06, #f83f3f);
  
    display: flex;
    align-items: row;
    justify-content: end;
  }

  .unilogo {
    width: 275px;
    position: relative;
    top: 25px;
    right: -25px;
  }
  
  .action_button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    color: white;
  }
  .action_button:hover {
    font-weight: 700;
  }

  
