.course_details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* rounded box */
    width: 600px;
    height: 500px;
    background: #e74747;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .course_details h1 {
    text-align: center;
    padding: 0 0 20px 0;
    position: relative;
    top: -150px;
    color: white;
  }
  
  .course_details table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 350px;
    height: 250px;
  }

  .attributes {
    width: 500px;
    height: 25px;
  }
  .attributes th{
      text-align: center;
      background-color: #e4e4e4;
  }
  
  td {
      text-align: center;
  }
  
  .scrollable{
    overflow-y: scroll;
    height: 170px;
    display: block;
    max-width: 450px;
  }

form .textfield {
  position: relative;
  margin: 10px 0;
}

.textfield input {
  position: relative;
  top: 130px;
  width: 50%;
  padding: 0 5px;
  height: 20px;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.center_block {
  margin: auto;
  margin-top: 2px;
  display: block;
}

.button input {
  position: relative;
  top: 145px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
}