.course-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* rounded box */
    width: 600px;
    height: 500px;
    background: #e74747;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .course-details h1 {
    text-align: center;
    padding: 0 0 20px 0;
    position: relative;
    top: -150px;
    color: white;
  }
  
  .course-details table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 350px;
    height: 250px;
  }

  .attributes {
    width: 500px;
    height: 25px;
  }
  .attributes th{
      text-align: center;
      background-color: #e4e4e4;
  }
  
  td {
      text-align: center;
  }
  
  .scrollable{
    overflow-y: scroll;
    height: 170px;
    display: block;
    max-width: 450px;
  }

  .in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    top: 430px;
    display: flex;
    flex-direction: row;
    width: max-content;
  }